<div class="content-text col-lg-6 text-justify text-lg-left" >
    <h1 class="h1 mb-4 text-center text-lg-left">
        ¿Qué es el Club de Programación?
    </h1>
    <div class="p">
        El club de programacion es un laboratorio donde dia a día resolvemos
        problemas los cuales requieren nuestra capacidad en habilidades lógicas
        y matemáticas, que combinadas con el sotfware podamos construir las
        soluciones de cada problema. Además aunado a esto, tendrás la oportunidad
        de participar en la Olimpiada Mexicana de Informática(OMI por sus cifras), 
        donde los mejores 4 concursantes del estado ganan un lugar para ir al
        nacional que se celebra todos los años.
    </div>
</div>