<div class="container content-text">
    <div class="row justify-content-center justify-content-none align-items-center">
        <div class="col-11 col-lg text-justify text-lg-left" >
            <h1 class="h1 mb-4 text-center text-lg-left">
                ¿Qué es el Club de Programación?
            </h1>
            <div class="p">
                El club de programación es un espacio donde nos reunimos para aprender
                sobre temas de programación, resolvemos problemas que nos ayudan a mejorar
                nuestras habilidades en lógica, matemáticas y programación.
                Uno de los grandes retos es participar en la Olimpíada Mexicana de Informática,
                en el cual puedes ser uno de los 4 que representen a Chihuahua en el evento nacional.
                También podrás aprender muchas cosas sobre el desarrollo web y el manejo de hardware
                como Arduino y diferentes tipos de sensores.

                Puedes conocer un poco más de la OMI en:
                a <a href="https://www.olimpiadadeinformatica.org.mx">https://www.olimpiadadeinformatica.org.mx</a>.
                <br>
                Te invitamos a ver el siguiente video para que conozcas más sobre nosotros:
            </div>
        </div>
        <div class="col-11 col-lg mt-3 mt-lg-0">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://drive.google.com/file/d/1v2OQqlollC2nONJ2BL_lorcRIyB__6u_/preview" class="embed-responsive-item rounded" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
