<div class="container content-text">
    <div class="row justify-content-center justify-content-none align-items-center">
        <div class="col-11 col-lg text-justify text-lg-left" >
            <h1 class="h1 mb-4 text-center text-lg-left">
                ¿Qué es el Club de Programación?
            </h1>
            <div class="p">
                El club de programacion es un laboratorio donde dia a día resolvemos
                problemas los cuales requieren nuestra capacidad en habilidades lógicas
                y matemáticas, que combinadas con el sotfware podamos construir las
                soluciones de cada problema. Además aunado a esto, tendrás la oportunidad
                de participar en la Olimpiada Mexicana de Informática(OMI por sus cifras), 
                donde los mejores 4 concursantes del estado ganan un lugar para ir al
                nacional que se celebra todos los años.
                <br>
                Te invitamos a ver el siguiente video para que conozcas mas del club:
            </div>
        </div>
        <div class="col-11 col-lg mt-3 mt-lg-0">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://drive.google.com/file/d/1v2OQqlollC2nONJ2BL_lorcRIyB__6u_/preview" class="embed-responsive-item rounded" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>