{% extends 'base.html' %}

{% block title %}
    Paraescolar Programacion |
    {{ block.super }}
{% endblock title %}

{% block container %}
    {% include "cover.html" %}
    <div class="container mt-5 ">
        {% include "website/description.html" %}
    </div>
    <div class="container mt-5 ">
        {% include "website/schedule.html" %}
    </div>
    <div class="container mt-5 ">
        {% include "website/meet_our_community.html" %}
    </div>
    <div class="container mt-5 mb-5">
        {% include "website/contact_us.html" %}
    </div>

{% endblock container %}