{% load static %}
<div class="content-text container">
    <h1 class="h1 mb-4">
        Conoce nuestra comunidad!
    </h1>
    <div class="community-cards-container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 justify-content-center">
            <div class="col mb-4">
                <div class="card h-100">
                <div class="image-container">
                    <div class="photo-container embed-responsive embed-responsive-1by1">
                        <img src="{% static 'img/picture-example-1.jpg' %}" class="card-img-top embed-responsive-item rounded-circle people-photo" alt="..." >
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Title Card</h5>
                    <p class="card-text">
                        This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                    </p>
                </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100">
                <div class="image-container">
                    <div class="photo-container embed-responsive embed-responsive-1by1">
                        <img src="{% static 'img/picture-example-1.jpg' %}" class="card-img-top embed-responsive-item rounded-circle people-photo" alt="..." >
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Title Card</h5>
                    <p class="card-text">
                        This is a short card.
                    </p>
                </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100">
                <div class="image-container">
                    <div class="photo-container embed-responsive embed-responsive-1by1">
                        <img src="{% static 'img/picture-example-1.jpg' %}" class="card-img-top embed-responsive-item rounded-circle people-photo" alt="..." >
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Title Card</h5>
                    <p class="card-text">
                        This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                    </p>
                </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100">
                <div class="image-container">
                    <div class="photo-container embed-responsive embed-responsive-1by1">
                        <img src="{% static 'img/picture-example-1.jpg' %}" class="card-img-top embed-responsive-item rounded-circle people-photo" alt="..." >
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Title Card</h5>
                    <p class="card-text">
                        This is a short card.
                    </p>
                </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100">
                <div class="image-container">
                    <div class="photo-container embed-responsive embed-responsive-1by1">
                        <img src="{% static 'img/picture-example-1.jpg' %}" class="card-img-top embed-responsive-item rounded-circle people-photo" alt="..." >
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Title Card</h5>
                    <p class="card-text">
                        This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                    </p>
                </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100">
                <div class="image-container">
                    <div class="photo-container embed-responsive embed-responsive-1by1">
                        <img src="{% static 'img/picture-example-1.jpg' %}" class="card-img-top embed-responsive-item rounded-circle people-photo" alt="..." >
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Title Card</h5>
                    <p class="card-text">
                        This is a short card.
                    </p>
                </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100">
                <div class="image-container">
                    <div class="photo-container embed-responsive embed-responsive-1by1">
                        <img src="{% static 'img/picture-example-1.jpg' %}" class="card-img-top embed-responsive-item rounded-circle people-photo" alt="..." >
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Title Card</h5>
                    <p class="card-text">
                        This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                    </p>
                </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100">
                <div class="image-container">
                    <div class="photo-container embed-responsive embed-responsive-1by1">
                        <img src="{% static 'img/picture-example-1.jpg' %}" class="card-img-top embed-responsive-item rounded-circle people-photo" alt="..." >
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Title Card</h5>
                    <p class="card-text">
                        This is a short card.
                    </p>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>