{% load static %}
<div class="content-text container">
    <h1 class="h1 mb-4">
        Conoce nuestra comunidad!
    </h1>
    <div class="community-cards-container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 justify-content-center">
            {% for olympian in olympians %}
                <div class="col-10 col-md mb-4">
                    <div class="card h-100">
                    <div class="image-container">
                        <div class="photo-container embed-responsive embed-responsive-1by1">
                            <img src="https://drive.google.com/uc?export=view&id={{ olympian.picture }}" class="card-img-top embed-responsive-item rounded-circle people-photo" alt="..." >
                        </div>
                    </div>
                    <div class="card-body">
                        <h6>Plantel {{ olympian.school }}</h6>
                        <h5 class="card-title">{{ olympian.full_name }}</h5>
                        {% for language in olympian.languages %}
                            <a class="badge badge-{% if language == "Python"%}primary{% elif language == "Javascript"%}warning{% elif language == "C++"%}info{% elif language == "C"%}success{% elif language == "C#"%}dark{% elif language == "HTML"%}light{% elif language == "Java"%}danger{% else %}secondary{% endif %}
                            ">
                                {{ language }}
                            </a>
                        {% endfor %}
                        <p class="card-text">
                            <div class="h6">OMI: {{ olympian.participations }}</div>
                            <div class="h6">Logros:</div>
                            {{ olympian.achievements }}
                            <div class="h6">Estudios o carrera:</div>
                            {{ olympian.career }}
                        </p>
                    </div>
                    </div>
                </div>
            {% endfor %}
            <div class="col-10 col-md mb-4">
                <div class="card h-100">
                <div class="image-container">
                    <div class="photo-container embed-responsive embed-responsive-1by1">
                        <img src="https://drive.google.com/uc?export=view&id=1cZKhhl8Ehwyuf3K5gMJpsXcRz9W6xLXN" class="card-img-top embed-responsive-item rounded-circle people-photo" alt="..." >
                    </div>
                </div>
                <div class="card-body">
                    <h6>Plantel #</h6>
                    <h5 class="card-title">Este podrías ser tu!</h5>
                    <a class="badge badge-secondary">
                        ¿...?
                    </a>
                    <p class="card-text">
                        <div class="h6">OMI: ¿...?</div>
                        <div class="h6">Logros:</div>
                        ¿...?
                        <div class="h6">Estudios o carrera:</div>
                        ¿...?
                    </p>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>