<div class="content-text text-justify offset-lg-6 col-lg-6 text-lg-right">
    <h1 class="h1 mb-4 text-center text-lg-right">
        Nuestros horarios
    </h1>
    <div class="p">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus assumenda sit minima, quia maxime saepe distinctio accusamus sunt soluta vel quos ipsum dicta recusandae nihil voluptatem ratione magni, animi atque.Sint quidem necessitatibus ab! Error earum, accusamus dicta illum magni nisi assumenda labore. Sapiente pariatur repellat corporis earum unde perspiciatis consequatur molestias. Ea laboriosam voluptatibus quidem, voluptas cupiditate fugiat similique!
    </div>
</div>