<div class="content-text text-justify offset-lg-6 col-lg-6 text-lg-right">
    <h1 class="h1 mb-4 text-center text-lg-right">
        Nuestros horarios
    </h1>
    <div class="p">
        Los horarios del paraescolar dependen del Plantel. Si te interesa conocerlos por favor selecciona tu plantel:
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="submmit" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Selecciona tu plantel
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>
</div>