/* 
COLORES

cover:
background: rgb(24,23,31);
background: linear-gradient(45deg, rgba(24,23,31,0.5046393557422969) 0%, rgba(32,108,228,0.5) 47%, rgba(39,203,127,0.5) 85%);

footer:
background: rgb(31,30,38);
background: linear-gradient(45deg, rgba(31,30,38,1) 8%, rgba(4,40,96,1) 64%, rgba(5,51,30,1) 99%);

*/
.nav-masthead .active{
    color: #ffffff!important;
    border-bottom-color: #ffffff!important;
}
.nav-masthead .nav-link{
    color: #d4d4d4!important;
}
header{
    max-width: 60em;
    margin: 0px auto;
    padding: 1em;
}
.bk-header{
    height: 120px;
    background: rgb(7,20,64);
    background: linear-gradient(180deg, rgba(7,20,64,0.9192051820728291) 0%, rgba(4,24,55,0.4682247899159664) 62%, rgba(28,106,187,0) 100%);
}
body{
    position: relative;
    overflow-y: scroll;
    height: 100%;
}
.mt-5{
    margin-top: 100px !important;
}

.school-card{
    border-radius: 5px;
    background: rgb(246,246,246);
    background: linear-gradient(180deg, rgba(246,246,246,0.7987570028011204) 0%, rgba(222,222,222,0.7959558823529411) 100%);
    padding: 1em;
}
.dropdown .nav-link.active,
.dropdown .nav-link:active{
    color: #ffffff!important;
}
.people-photo{
    object-fit: cover;
}
.image-container{
    padding: 20px;
}
.community-cards-container .card{
    background-color: #f0f0f0;
    border-radius: 10px;
    border: none;
}
.community-cards-container .people-photo{
    border: 10px solid #2b85e6;
    object-position: center center;
    background-color: #2b85e6;
}
.footer{
    background: rgb(31,30,38);
    background: linear-gradient(45deg, rgba(31,30,38,1) 8%, rgba(4,40,96,1) 64%, rgba(5,51,30,1) 99%);
}

@media (max-width: 991.98px) { 
    .order{
        order: -1;
    }
 }