<div class="cover-background" id="home">
    <div class="body">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            {% include "header.html" %}
            <div class="mt-5 mb-auto"></div>
            <main role="main" class="inner cover">
                <h1 class="cover-heading primary-title h1">
                    Club de Programación
                </h1>
                <p class="lead">
                    Te invitamos a conocer el Club de informática y Robótica, donde podrás
                    desarrollar habilidades en áreas como la lógica, matemáticas y
                    construcción y desarrollo de código!
                </p>
                <p class="lead">
                <a href="#description" class="btn btn-lg btn-secondary">Ver mas..</a>
                </p>
            </main>
            <footer class="mastfoot mt-auto">
            </footer>
        </div>
    </div>
</div>
