<header class="masthead fixed-top mb-auto" id="header">
    <div class="inner">
        <h3 class="masthead-brand">
            COBACH
        </h3>
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="#home">Home</a>
            <a class="nav-link" href="#description">¿Que es?</a>
            <a class="nav-link" href="#schedule">Horarios</a>
            <a class="nav-link" href="#community">Comunidad</a>
            <a class="nav-link" href="#contact_us">Contáctanos!</a>
        </nav>
    </div>
</header>